$typography: sans-serif;
$margin-top: 20px;
$red: #CC0B14;
$pink: #FF7C68;
$lightpink: #FFF4EF;
$blue: #0B86CC;
$grayblue: #558099;
$lightblue: #D8F4FF;
$darkblue: #00269E;
$facebookblue: #3B5998;
$twitterblue: #00aced;
$cyan: #28FFD9;
$lightbrown: #CCC3BF;
$lightgrey: #fbfbfb;
// 
$color-4:#E5FCC2;
$color-3:#9DE0AD;
$color-2:#45ADA8;
$color-1:#547980;
$color-0:#594F4F;
// 
$c5: #FE4365;