@import "src/assets/scss/variables.scss";
@import "src/assets/scss/main.scss";
@import "src/assets/scss/forms.scss";
textarea {
  resize: none;
  margin-bottom: 10px;
}

.checkAccounts {
  position: relative;
  float: left;
  overflow: hidden;
  label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.buttons {
  position: relative;
  float: right;

}
