<!-- Log out button -->
<button type="submit" class="form-control btn btn-danger" (click)="logOut()">Log out</button>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="user-info panel">
                <!-- Header -->
                <div class="page-header">
                    <div class="container">
                        <div class="row-fluid">
                            <h1>Edit Profile</h1>
                        </div>
                    </div>
                </div>
                <div class="user-settings">
                    <!-- Settings -->
                    <div class="panel-heading">

                        <div class="panel-body">
                            <!-- Personal Info -->
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>Personal Info</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <form (ngSubmit)="onSave(configForm)" #configForm="ngForm" class="keyValueList">
                                        <!-- First Name -->
                                        <div>
                                            <label class="key">First name</label>
                                            <input class="form-control value" type="text" name="first_name" [(ngModel)]="userData.user.first_name" #first_name="ngModel" placeholder="First Name" value="" required>
                                        </div>
                                        <!-- Last Name -->
                                        <div>
                                            <label class="key">Last name</label>
                                            <input type="text" name="last_name" [(ngModel)]="userData.user.last_name" #last_name="ngModel" class="form-control value" placeholder="Last Name" value="" required>
                                        </div>
                                        <!-- Email -->
                                        <div>
                                            <label class="key">Email</label>
                                            <input type="email" class="form-control value" placeholder="Email Address" [(ngModel)]="userData.user.email" name="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                                        </div>
                                        <!-- Password -->
                                        <div>
                                            <label class="key">Password</label>
                                            <input type="password" class="form-control value" name="password" placeholder="Password" [(ngModel)]="userData.user.password" #password="ngModel" required>
                                        </div>
                                        <!-- Repeat Password -->
                                        <!-- <div>
                                            <label class="key">Repeat password</label>
                                            <input type="password" name="confirm-password" class="form-control value" placeholder="Confirm Password" #repeatPasswordModel="ngModel" pattern="{{userData.user.password}}" [(ngModel)]="repeatPassword" required>
                                        </div> -->
                                        <!-- Submit button -->
                                        <div>
                                            <button type="submit" [ngClass]="{'form-control button-right btn': true, 'btn-success': configForm.form.valid}" [disabled]="!configForm.form.valid || !configForm.form.dirty">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Social Networks -->
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2>Social</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- Twitter -->
                                    <div class="social-list">
                                        <div class="input-group first">
                                            <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                                            <input class="form-control" type="text" placeholder="Twitter account">
                                        </div>
                                        <div class="second">
                                            <button type="button" class="btn btn-light">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- Facebook -->
                                    <div class="social-list">
                                        <div class="input-group first">
                                            <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                                            <input class="form-control" type="text" placeholder="Facebook account">
                                        </div>
                                        <div class="second">
                                            <button type="button" class="btn btn-light">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>