<div class="container">
  <div class="center panel">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <a class="nav-link title" href="#" [routerLink]="['/user/login']">Login</a>
        </div>
        <div class="col-xs-6">
          <a class="nav-link title selected" href="#" [routerLink]="['/user/register']">Register</a>
        </div>
      </div>
      <hr>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12">
          <form (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm">
            <!-- First Name -->
            <div class="form-group">
              <input type="text" name="first_name" [(ngModel)]="registerData.first_name" #first_name="ngModel" class="form-control" placeholder="First Name"
                value="" required>
            </div>
            <!-- Last Name -->
            <div class="form-group">
              <input type="text" name="last_name" [(ngModel)]="registerData.last_name" #last_name="ngModel" class="form-control" placeholder="Last Name"
                value="" required>
            </div>
            <!-- Email -->
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email Address" [(ngModel)]="registerData.email" name="email" #email="ngModel"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
            </div>
            <!-- Password -->
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="registerData.password" #password="ngModel"
                required>
            </div>
            <!-- Repeat Password -->
            <div class="form-group">
              <input type="password" name="confirm-password" class="form-control" placeholder="Confirm Password" #repeatPasswordModel="ngModel"
                pattern="{{registerData.password}}" [(ngModel)]="repeatPassword" required>

            </div>
            <!-- Submit button -->
            <div class="form-group">
              <button type="submit" [ngClass]="{'form-control button-right btn': true, 'btn-success': registerForm.form.valid}" [disabled]="!registerForm.form.valid">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
