@import "src/assets/scss/variables.scss";
.top-bar {
    min-width: 400px;
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
    background-color: $color-0 !important;
    z-index: 100;
    // border: 1px solid black;
    .brand {
        position: relative;
        float: left;
        width: 50%;
        height: 50px;
        padding: 15px 15px;
        &>a {
            color: white;
        }
        line-height: 21px;
        font-size: 20px;
        .logo {
            position: relative;
            float: left;
            height: 20px;
            margin-right: 5px;
        }
    }
    .menu {
        position: relative;
        float: right;
        padding: 10px 15px;
        height: 50px;
        line-height: 21px;
        &>a {
            color: white;
        }
        .user {
            position: relative;
            float: left;
            padding: 5px;
            font-size: 18px;
            padding-right: 10px;
        }
    }
}

.app-center {
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    height: 100%;
    // height: 100vh;
    min-width: 400px;
    background-color: $color-4;
    .notification {
        position: absolute;
        right: 0px;
        opacity: 1;
        z-index: 10;
        width: 25%;
        &:hover {
            opacity: 1.0;
        }
    }
}