<nav class="navbar fixed-top navbar-dark bg-dark justify-content-between">

    <a class="navbar-brand col-11" href="#" [routerLink]="['/home']">
        <img class="logo" src="/assets/images/Bubble_Icon.png" height="20px"> {{title}}
    </a>

    <ul class="navbar-nav">
        <li *ngIf="needsLogin">
            <a class="nav-link" href="#" [routerLink]="['user/login']">Log in</a>
        </li>
        <li *ngIf="!needsLogin">
            <a class="nav-link" href="#">Log out</a>
        </li>
    </ul>

</nav>

<!-- main app container -->

<div class="center">
    <app-alert class="notification"></app-alert>

    <!-- <div class="center"> -->
    <router-outlet></router-outlet>
    <!-- </div> -->
</div>