.selected {
    font-weight: bold
}

.button-right {
    position: relative;
    float: right;
    width: 25%;
}

.center {
    position: relative;
    float: left;
    width: 50%;
    margin-left: 25%;
}