/* You can add global styles to this file, and also import other style files */

@import "assets/scss/forms.scss";
@import "assets/scss/variables.scss";
@import "assets/scss/title.scss";
.root {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}