<div class="col-lg-3 col-md-3 col-sm-12">
  <div class="card mt-3">
    <div class="title">Filters</div>
    <div class="list-group">
      <input class="list-group-item" placeholder="Name" [(ngModel)]="filters.name">
      <input class="list-group-item" placeholder="Message" [(ngModel)]="filters.message">
    </div>
    <div class="btn-group mt-1" data-toggle="buttons">
      <label [ngClass]="{'btn btn-secondary': true, 'active': filters.social.twitter}">
        <input type="checkbox" [(ngModel)]="filters.social.twitter" autocomplete="off">
        <i class="fa fa-twitter"></i>
      </label>
      <label [ngClass]="{'btn btn-secondary': true, 'active': filters.social.facebook}">
        <input type="checkbox" [(ngModel)]="filters.social.facebook" autocomplete="off">
        <i class="fa fa-facebook"></i>
      </label>
    </div>
  </div>

</div>


<div class="col-lg-7 col-md-9 col-sm-12 mt-3">

  <div>
    <!-- Post -->
    <button type="button" class="post" (click)="showPost = !showPost" title="New post">
      <i class="fa fa-plus fa-1x" aria-hidden="true"></i>
    </button>
    <div *ngIf="showPost" class="post">
      <div class="card">
        <app-publish [commentRequired]="true" [customFunction]="post"></app-publish>
      </div>
    </div>

    <!-- Refresh -->
    <button type="button" class="refresh" (click)="getTimeline()">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </button>

    <!-- Messages -->
    <div *ngFor="let message of timeline | user : filters.name | message: filters.message | social: filters.social | notEmpty | sortBy: 'date'">
      <div class="card">
        <div class="header">

          <a href="{{message.user.url}}" target="_blank" title="Link to the user">
            <img class="img" src={{message.user.img}} alt="User">
          </a>

          <div class="info">
            <label class="title user">{{message.user.name}}</label>
            <label class="subtitle date">{{message.dateStr}}</label>
          </div>

          <div class="social-logo" title="Link to the post">
            <a href="{{message.url}}" target="_blank" [ngClass]="{'fa fa-facebook fa-1x facebook': message.socialType.name === 'facebook'}"></a>
            <a href="{{message.url}}" target="_blank" [ngClass]="{'fa fa-twitter fa-1x twitter': message.socialType.name === 'twitter'}"></a>
          </div>

        </div>
        <div class="body">
          <p *ngIf="message.text" class="comment">{{message.text}}</p>
          <div class="media" *ngFor="let m of message.media">
            <!-- <div [ngSwitch]="m.type"> -->

            <!-- Video -->
            <!-- <div class="media" *ngSwitchCase="1"> -->
            <!-- <iframe *ngIf="m.src" [src]="m.src | safeurl"  frameborder="0" allowfullscreen>
                </iframe> -->
            <!-- <video *ngIf="m.src" controls>
                    <source [src]="m.src | safeurl">
                </video> -->
            <!-- </div> -->
            <!-- <div *ngIf="m.type===1">

            </div> -->
            <!-- <div class="media" *ngSwitchDefault> -->
            <a class="data" *ngIf="m.src" href="{{m.url}}" target="_blank" title="Link to the media">
              <img class="img" src={{m.src}}>
              
              <label>{{m.text}}</label>

            </a>
            <!-- </div> -->
            <!-- </div> -->
          </div>
        </div>

        <!-- Buttons -->
        <div class="buttons">
          <a class="card-link" (click)="likeToggle(message)" title="Like">
            <i [ngClass]="{'liked': message.flags.like || message.liked, 'fa fa-heart': true}" aria-hidden="true"> {{message.flags.like_count}}</i>
          </a>

          <a class="card-link" (click)="shareToggle(message)" title="Share">
            <i [ngClass]="{'shared': message.flags.share || message.shared , 'fa fa-retweet': true}" aria-hidden="true"> {{message.flags.share_count}}</i>
          </a>

          <a class="card-link" (click)="commentToggle(message)" title="Comment">
            <i [ngClass]="{'comment': message.flags.comment, 'fa fa-comment': true}" aria-hidden="true"></i>
          </a>
        </div>

        <!-- Like -->
        <div *ngIf="message.flags.like" class="reply">
          <app-publish [commentRequired]="false" [message]="message" [showText]="false" [customFunction]="like.bind(this)" [restricted]="true"></app-publish>
        </div>

        <!-- Share -->
        <div *ngIf="message.flags.share" class="reply">
          <app-publish [commentRequired]="false" [message]="message" [customFunction]="share.bind(this)"></app-publish>
        </div>

        <!-- Reply -->
        <div *ngIf="message.flags.comment" class="reply">
          <app-publish [commentRequired]="true" [message]="message" [customFunction]="reply.bind(this)" [restricted]="true"></app-publish>
        </div>


      </div>

    </div>


    <!-- More -->
    <button type="button" class="refresh" title="Load more messages" (click)="getNextTimeline()">
      <i class="fa fa-caret-down" aria-hidden="true"></i>

    </button>
  </div>

</div>
