<div class="dashboard">


    <div class="center">
        <button type="button" class="post" (click)="showPost = !showPost"><i class="fa fa-plus fa-1x" aria-hidden="true"></i></button>

        <div *ngIf="showPost" class="post">
            <app-post></app-post>
        </div>


        <button type="button" class="refresh" (click)="getTimeline()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
        <div *ngFor="let message of timeline">
            <div class="card">
                <div class="header">

                    <img class="img" src={{message.user.img}} alt="Card image cap">

                    <div class="info">
                        <label class="title user">{{message.user.name}}</label>
                        <label class="subtitle date">{{message.date}}</label>
                    </div>

                    <div class="social-logo">
                        <a href="{{message.url}}" target="_blank" [ngClass]="{'fa fa-facebook fa-1x facebook': message.social.name === 'facebook'}"></a>
                        <a href="{{message.url}}" target="_blank" [ngClass]="{'fa fa-twitter fa-1x twitter': message.social.name === 'twitter'}"></a>
                    </div>

                </div>
                <div class="body">
                    <p class="comment">{{message.text}}</p>
                </div>
                <div class="buttons">
                    <a class="card-link" (click)="likeToggle(message)"><i [ngClass]="{'liked': message.flags.like, 'fa fa-heart': true}" aria-hidden="true"></i></a>

                    <a class="card-link" (click)="share(message)"><i [ngClass]="{'shared': message.shared, 'fa fa-retweet': true}" aria-hidden="true"></i></a>
                    <a class="card-link" (click)="commentToggle(message)"><i [ngClass]="{'comment': message.flags.comment, 'fa fa-comment': true}"  aria-hidden="true"></i></a>

                </div>
                <div *ngIf="message.flags.comment" class="reply">
                    <form (ngSubmit)="onReply(replyForm)" #replyForm="ngForm">
                        <div class="form-group input-group">
                            <textarea type="text" name="comment" class="form-control custom-control" style="resize:none" rows="3" placeholder="Message" [(ngModel)]="comment" required></textarea>
                            <span class="input-group-addon"> <button type="submit" class="button-right btn" [disabled]="!replyForm.form.valid || !replyForm.form.dirty">Reply</button> </span>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>

</div>